.middle-container {
    margin: 40px;
    height: calc(100vh - 120px);
}

.filter-container {
    height: 10vh;
    width: calc(100% - 40px);
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.date-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
}

.date-picker {
    align-self: center;
    margin-right: 20px;
}
.refresh-icon {
    color: #BCB5B5 ;
    align-self: center;
}

.refresh-icon:hover {
    cursor: pointer;
    color: black;
}

.search-container {
    align-self: center;
}

.search-bar {
    margin-right: 20px;
}

.search-icon {
    color: #BCB5B5 ;
    align-self: center;
    margin-right: 20px;
}

.search-icon:hover {
    cursor: pointer;
    color: black;
}

.results-bar {
    width: calc(100% - 40px);
    height: 5vh;
    border-bottom: 1px solid #BCB5B5;
    margin-bottom: 0;
}

.logo-container {
    height: calc(85vh - 120px);
    display: flex;
    justify-content: center;
    align-content: center;
}

.app-logo {
    display: block;
    align-self: center;
}

.mails-container {
    width: calc(100% - 40px);
    height: calc(100% - 15vh);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.mails-header {
    width: 100%;
    background-color: #F4F3F2;
    display: flex;
    font-weight: 600;
    color: #595959;
    padding: 10px;
    border-bottom: 1px solid #BCB5B5;
}

.email-from, .email-to {
    width: 20%;
}

.email-sub {
    width: 50%;
}

.email-date {
    width: 10%;
}

.email-date:hover {
    cursor: pointer;
}

.place-icon {
    font-family: fontawesome;
}

@media (max-width: 860px) {
    .filter-container {
        height: 15vh;
        display: flex;
        flex-direction: column;
    }
    .search-container{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: start;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .results-bar {
        width: calc(100% - 15px);
    }
    .mails-container {
        width: calc(100% - 15px);
    }
    .mails-content{
        height: calc(100% - 5vh);
        overflow-y: scroll;
    }
}