.mail-body-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-bottom: 1px solid #BCB5B5;
    color: black;
}
.mail-body-container:hover {
    background-color: #F4F3F2;
    color: blue;
    cursor: pointer;
    text-decoration: none;
} 

.email-from-body, .email-to-body {
    width: 20%;
    overflow: hidden;
}

.email-sub-body {
    width: 45%;
    padding-right: 10px;
    overflow: hidden;
}

.email-attachment-body {
    width: 5%;
}

.email-date-body {
    width: 10%;
    overflow: hidden;
}

.icon-clip {
    height: 18px;
    width: auto;
}