.show-mobile {
    display: none;
}
.mail-body-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-bottom: 1px solid #BCB5B5;
    color: black;
}
.mail-body-container:hover {

    background-color: #F4F3F2;
    color: blue;
    cursor: pointer;
    text-decoration: none;
} 

.email-from-body, .email-to-body {
    width: 17.5%;
    overflow: hidden;
    margin-right: 20px;
}
.email-badge-body {
    width: 5%;
}
.email-sub-body {
    width: 45%;
    padding-right: 10px;
    overflow: hidden;
}

.email-attachment-body {
    width: 5%;
}

.email-date-body {
    width: 10%;
    overflow: hidden;
}

.icon-clip {
    height: 18px;
    width: auto;
}

.badge-text {
    font-style: normal;
    font-size: 14px;
}

.badge-secondary {
    font-size: 11px;
}

@media (max-width: 720px) {

    .hide-mobile {
        display: none;
    }
    .show-mobile {
        display: initial;
    }
    .mail-body-container {
        display: flex;
        flex-direction: column;
    }
    .mail-icon {
        width: 15px;
        height: auto;
        align-self: center;
    }
    .mail-sp-icon{
        align-self: center;
        margin-right: 10px;
    }
    .non-subject-part {
        display: flex;
        flex-direction: row;
        align-content: center;
    }
    .mobile-from-to-container{
        width: 100%;
    }
    .arrow-icon {
        width: 7px;
        height: auto;
        align-self: center;
    }
    .clip-icon {
        align-self: center;
    }
    .mobile-email-date {
        align-self: center;
        margin-right: 10px;
        margin-left: 10px ;
    }
    .mobile-email-from {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .mobile-email-to{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .badge-secondary {
        font-size: 8px;
    }
    .badge-text {
        font-style: normal;
        font-size: 11px;
    }
    .email-from-text{
        overflow: hidden;
    }
}